<table class="dao-header">
    <tr>
        <td class="align-left dao-header-logo">
            <a href="https://www.daocloud.io/" target="_blank">
                <img src="{{image}}"  class="dao-header-logo">
            </a>
        </td>
        <td class="align-right dao-header-time" >
            <div>
                {{{date}}}
            </div>
            <div>
                {{title}}
            </div>
        </td>
    </tr>
</table>