<table align="center" class="dao-footer" >
    <tr>
        <td>
            <a href="https://www.daocloud.io/" target="_blank">
                <img src="http://7xi8kv.com5.z0.glb.qiniucdn.com/mail/logo_gray.png" style="width:35px; margin-top:8px;">
            </a>
        </td>
    </tr>
    <tr>
        <td>
            © 2015
            <span style="font-weight:400;">
                    DaoCloud
                </span> · 上海道客网络科技有限公司
            <br> 上海市杨浦区政府路18号901室 · 上海, 200433 · 中国
        </td>
    </tr>
</table>