<table align="center" cellspacing="0" class="dao-content-footer">
  <tr>
    <td >
        <a href="*|UPDATE_PROFILE|*" >
            订阅设置
        </a> |
        <a href="*|UNSUB|*" >
            退订邮件
        </a>
    </td>
    <td class="align-right">
        <a href="http://help.daocloud.io/" target="_blank" style="margin-right: 10px; ">
          文档
        </a>
        <a href="http://blog.daocloud.io/" target="_blank" style="margin-right: 10px; ">
          博客
        </a>
        <a href="http://weibo.com/daocloud/profile?rightmod=1&wvr=6&mod=personinfo" target="_blank" style="margin-right: 10px; ">
          微博
        </a>
        <a href="mailto:support@daocloud.io" >
          客服邮箱
        </a>
    </td>
  </tr>
</table>