<table  cellpadding="0" cellspacing="0">
	<tr>
	  <td class="dao-wrapper dao-content-block">
		
		<img class="dao-content-block-img" src="{{image}}">

	    <h2 class="dao-content-block-title">{{{title}}}</h2>

	    <p  class="dao-content-block-body">{{{body}}}</p>
	    
	    {{> button type='primary' url=btnUrl title=btnText }}
	  </td>
	</tr>
</table>