<table class="dao-wrapper dao-conversations">
 	<tr>
 		<td>{{> divider }}</td>
 	</tr>
	<tr>
		<td class="align-center ">
			消息记录
		</td>
	</tr>
	<tr>
		<td>
			<span class="dao-datetime">11 Dec,2015</span>
			<table class="chat-container">
				<tr>
					<td class="chat-metadata">23:00:09   “Jamie”< jamie.fang@daocloud.io > wrote:</td>
				</tr>
				<tr>
					<td class="char-content">吃了么 </td>
				</tr>
				<tr>
					<td class="chat-metadata">23:00:09   “Jamie”< <a>jamie.fang@daocloud.io</a> > wrote:</td>
				</tr>
				<tr>
					<td class="char-content">吃不吃</td>
				</tr>
				<tr>
					<td class="chat-metadata">23:00:09   “Jamie”< <a>jamie.fang@daocloud.io</a> > wrote:</td>
				</tr>
				<tr>
					<td class="char-content">不吃</td>
				</tr>		<tr>
					<td class="chat-metadata">23:00:09   “Jamie”< <a>jamie.fang@daocloud.io</a> > wrote:</td>
				</tr>
				<tr>
					<td class="char-content">想吃</td>
				</tr>		<tr>
					<td class="chat-metadata">23:00:09   “Jamie”< <a>jamie.fang@daocloud.io</a> > wrote:</td>
				</tr>
				<tr>
					<td class="char-content">吃什么</td>
				</tr>		<tr>
					<td class="chat-metadata">23:00:09   “Jamie”< <a>jamie.fang@daocloud.io</a> > wrote:</td>
				</tr>
				<tr>
					<td class="char-content">可以吃</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<span class="dao-datetime">11 Dec,2015</span>
			<table class="chat-container">
				<tr>
					<td class="chat-metadata">23:00:09   “Jamie”< jamie.fang@daocloud.io > wrote:</td>
				</tr>
				<tr>
					<td class="char-content">吃了么 </td>
				</tr>
				<tr>
					<td class="chat-metadata">23:00:09   “Jamie”< <a>jamie.fang@daocloud.io</a> > wrote:</td>
				</tr>
				<tr>
					<td class="char-content">No</td>
				</tr>
				<tr>
					<td class="chat-metadata">23:00:09   “Jamie”< <a>jamie.fang@daocloud.io</a> > wrote:</td>
				</tr>
				<tr>
					<td class="char-content">吃了</td>
				</tr>		<tr>
					<td class="chat-metadata">23:00:09   “Jamie”< <a>jamie.fang@daocloud.io</a> > wrote:</td>
				</tr>
				<tr>
					<td class="char-content">不想吃</td>
				</tr>		<tr>
					<td class="chat-metadata">23:00:09   “Jamie”< <a>jamie.fang@daocloud.io</a> > wrote:</td>
				</tr>
				<tr>
					<td class="char-content">吃不吃</td>
				</tr>		<tr>
					<td class="chat-metadata">23:00:09   “Jamie”< <a>jamie.fang@daocloud.io</a> > wrote:</td>
				</tr>
				<tr>
					<td class="char-content">吃吃吃</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<div class="dao-datetime">See More <span class="downarrow"></span></div>
		</td>
	</tr>
</table>