<table class="dao-conversation-notify">
	<tr>
		<td> <h2>HI {{name}} ,</h2> </td>
	</tr>
	<tr>
		<td class="align-center">
			<h2>
				你有 <span class="conversation-num">{{conversations-count}}</span> 新消息
			</h2>
		</td>
	</tr>
	<tr>
		<td>
	    {{> button type='info' align="center" class="btn-circular" url=link title='进入对话' }}
		</td>
	</tr>
</table>