<table >
	<tr>
		<td> <h2>HI {{name}} ,</h2> </td>
	</tr>
	<tr>
		<td class="dao-chat align-center">
			 {{chat-content}}
			 <div class="align-right time">{{chat-time}}</div>
		</td>
	</tr>
	<tr>
		<td class="dao-avatar align-center">
			<a href="" class="avatar-md">
				<img alt="" 
					height="40" 
					width="40"
					src="{{admin-avatar}}" 
				>
		 </a>	
		 <div class="align-center">来自道客公司</div>
		</td>
	</tr>
	<tr>
		<td class="align-center">回复本邮件即可对话</td>
	</tr>
</table>