/* -------------------------------------
    BUTTONS
------------------------------------- */

.btn {
  width: 100%;
  background-color: transparent;
  background: none;
  padding: 0;
  border: 0;

  > tr > td {
    padding-bottom: 15px;
  }

  table {
    width: auto;
  }

  table td {
    background-color: #ffffff;
    border-radius: $btn-br;
    text-align: center;
  }

  a{
    background-color: #ffffff;
    border: 0;
    border-radius: $btn-br;
    color: $primary-color;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 12px 50px;
    text-decoration: none;
    text-transform: capitalize;
  }
}

// Primary call to action button
.btn-primary {

  table td {
    background-color: $primary-color;
  }

  a{
    background-color: $primary-color;
    border-color: $primary-color;
    color: #ffffff;
  }
}

.btn-info {
  table td {
    // background-color: $primary-color;
    background-color: #206ffd;
    background-image: linear-gradient(to top, #206dfd 0%, #2992ff 100%);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  a{
    background-color: #206ffd;
    background-image: linear-gradient(to top, #206dfd 0%, #2992ff 100%);
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    // background-color: $primary-color;
    // border-color: $primary-color;
    color: #ffffff;
  }
}

.btn-circular {
  table td {
    border-radius: 50px;
  }

  a{
    border-radius: 50px;
  }
}

// Secondary button
.btn-secondary {

  table td {
    background-color: transparent;
  }

  a{
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;
  }
}
