---
layout: dao.hbs
subject: daovoice 提醒邮件
---

{{!-- <span class="preheader">This is preheader text. Some clients will show this text as a preview.</span> --}}

<table class="main" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="dao-wrapper">
			{{> daovoice-conversation-notify 
			name="叶挺" 
			conversations-count="4" 
			link="http://www.baidu.com" }}
			
			<table >
				<tr>
					<td>
						{{> divider }}
					</td>
				</tr>
				<tr>
					<td class="align-center">
						消息记录
					</td>
				</tr>
				<tr>
					<td>
							<table class="chat-container">
								<tr>
									<td class="chat-metadata">23:00:09   “Jamie”< jamie.fang@daocloud.io > wrote:</td>
								</tr>
								<tr>
									<td class="char-content">吃了么 </td>
								</tr>
								<tr>
									<td class="chat-metadata">23:00:09   “Jamie”< <a>jamie.fang@daocloud.io</a> > wrote:</td>
								</tr>
								<tr>
									<td class="char-content">吃不吃</td>
								</tr>
								<tr>
									<td class="chat-metadata">23:00:09   “Jamie”< <a>jamie.fang@daocloud.io</a> > wrote:</td>
								</tr>
								<tr>
									<td class="char-content">不吃</td>
								</tr>		<tr>
									<td class="chat-metadata">23:00:09   “Jamie”< <a>jamie.fang@daocloud.io</a> > wrote:</td>
								</tr>
								<tr>
									<td class="char-content">想吃</td>
								</tr>		<tr>
									<td class="chat-metadata">23:00:09   “Jamie”< <a>jamie.fang@daocloud.io</a> > wrote:</td>
								</tr>
								<tr>
									<td class="char-content">吃什么</td>
								</tr>		<tr>
									<td class="chat-metadata">23:00:09   “Jamie”< <a>jamie.fang@daocloud.io</a> > wrote:</td>
								</tr>
								<tr>
									<td class="char-content">可以吃</td>
								</tr>
							</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
  <tr>
    <td>
      {{> dao-content-footer }}
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        {{> dao-footer }} 
      </td>
    </tr>
  </table>
</div>
